<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="backgroundButton">
    QrAttendance
  </div>
  <div class="general">
    <form #miformulario="ngForm" (ngSubmit)="onSubmit()" >
      <div class="inputs">
        <ion-item>
          <ion-label  position="floating">Usuario</ion-label>
          <ion-input required name="username" [(ngModel)]="user.username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" required name="password"  [(ngModel)]="user.password"></ion-input>
        </ion-item>
      </div>  
      <ion-button expand="block" class="ion-margin-top" type="submit" class="login"  [disabled]="miformulario.invalid">
        Iniciar sesion
      </ion-button>
      <ion-button routerLink="/passrecovery" expand="block" fill="clear" shape="round">
        Recuperar contraseña
      </ion-button>
      <ion-button routerLink="/register" expand="block" fill="clear" shape="round">
        <ion-row>
        <ion-col size="10">No tienes una cuenta?</ion-col>
        </ion-row>
      </ion-button>
    </form>
  </div>  
</ion-content>
