.login{
    --background: #E5E9F0;
    --color: #1E1E1E;
    
}

.cancel{
    margin: 10%;
    --background: #D23D4C;
    --color: #1E1E1E;
}


.title {
    margin-bottom: 10%;
}

.attendance {
    margin-bottom: 40%;
}

.general {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    margin: 0 auto;
    width: 80%;
    margin-top: 3vh;
}

h6{
    color: #888D99;
}